
{
  "presets": ["next/babel"],
  "env": {
    "development": {
      "plugins": [
        [
          "babel-plugin-styled-components"
        ]
      ]
    },
    "test":{
      "plugins": [
      ]
    }
  }
   
}